In [12]:
import pandas as pd
import numpy as np

train=pd.read_csv('E:/myAnacondaProj/train.csv')

In [13]:
train['Gender'] = train['Gender'].fillna( train['Gender'].dropna().mode().values[0] )
train['Married'] = train['Married'].fillna( train['Married'].dropna().mode().values[0] )
train['Dependents'] = train['Dependents'].fillna( train['Dependents'].dropna().mode().values[0] )
train['Self_Employed'] = train['Self_Employed'].fillna( train['Self_Employed'].dropna().mode().values[0] )
train['LoanAmount'] = train['LoanAmount'].fillna( train['LoanAmount'].dropna().mean() )
train['Loan_Amount_Term'] = train['Loan_Amount_Term'].fillna( train['Loan_Amount_Term'].dropna().mode().values[0] )
train['Credit_History'] = train['Credit_History'].fillna( train['Credit_History'].dropna().mode().values[0] )

train['Gender'] = train['Gender'].map({'Female': 0, 'Male': 1})
train['Married'] = train['Married'].map({'Yes': 1, 'No': 0})
train['Dependents'] = train['Dependents'].str.replace('+', '')
train['Dependents'] = train['Dependents'].map({'0': 0, '1': 1, '2' : 2, '3' : 3})
train['Education'] = train['Education'].map({'Graduate': 1, 'Not Graduate': 0})
train['Self_Employed'] = train['Self_Employed'].map({'No': 0, 'Yes': 1})
train['Property_Area'] = train['Property_Area'].map({'Rural': 0, 'Semiurban': 1, 'Urban' : 2})
train['Loan_Status'] = train['Loan_Status'].map({'Y': 1, 'N': 0})

In [14]:
train.describe()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.817590,0.653094,0.744300,0.781759,0.133550,5403.459283,1621.245798,146.412162,342.410423,0.855049,1.037459,0.687296
std,0.386497,0.476373,1.009623,0.413389,0.340446,6109.041673,2926.248369,84.037468,64.428629,0.352339,0.787482,0.463973
min,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,12.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,1.000000,0.000000,2877.500000,0.000000,100.250000,360.000000,1.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,1.000000,0.000000,3812.500000,1188.500000,129.000000,360.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,0.000000,5795.000000,2297.250000,164.750000,360.000000,1.000000,2.000000,1.000000
max,1.000000,1.000000,3.000000,1.000000,1.000000,81000.000000,41667.000000,700.000000,480.000000,1.000000,2.000000,1.000000

In [15]:
print("Table Missing Values")
train.apply(lambda x: sum(x.isnull()),axis=0)

Table Missing Values

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [16]:
temp = pd.DataFrame()
temp = train
del temp['Loan_ID']

In [17]:
data = temp.drop(['Gender','Education','Dependents','Self_Employed','Married','Loan_Amount_Term'],axis=1)

In [18]:
data.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [19]:
data['LoanStatus'] = data['Loan_Status']

In [20]:
del data['Loan_Status']

In [21]:
data.iloc[:,0:-1] = data.iloc[:,0:-1].astype(np.float32)

In [23]:
from sklearn.preprocessing import StandardScaler
slc= StandardScaler()

data.iloc[:,0:-1] = slc.fit_transform(data.iloc[:,0:-1])
data.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,Property_Area,LoanStatus
0,0.072991,-0.554487,-8.050106e-08,0.411733,1.223298,1
1,-0.134412,-0.038732,-2.192733e-01,0.411733,-1.318513,0
2,-0.393747,-0.554487,-9.576410e-01,0.411733,1.223298,1
3,-0.462062,0.251980,-3.145466e-01,0.411733,1.223298,1
4,0.097728,-0.554487,-6.445428e-02,0.411733,1.223298,1

In [24]:
data.columns.size

6

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:,0:-1], data['LoanStatus'], test_size=0.33, random_state=1)

In [26]:
import tensorflow as tf

In [27]:
from tensorflow.contrib.tensor_forest import tensor_forest

In [31]:
columns = data.columns[0:-1]
feature_columns = [tf.contrib.layers.real_valued_column(k) for k in columns]

In [32]:
def input_fn(df,labels):
    feature_cols = {k:tf.constant(df[k].values,shape = [df[k].size,1]) for k in columns}
    label = tf.constant(labels.values, shape = [labels.size,1])
    return feature_cols,label

In [35]:
classifier = tf.contrib.learn.DNNClassifier(feature_columns=feature_columns,
                                            hidden_units=[20,20],n_classes = 2)

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_keep_checkpoint_every_n_hours': 10000, '_is_chief': True, '_tf_config': gpu_options {
  per_process_gpu_memory_fraction: 1
}
, '_save_checkpoints_secs': 600, '_num_worker_replicas': 0, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_model_dir': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001436B55EF60>, '_evaluation_master': '', '_task_type': None, '_task_id': 0, '_tf_random_seed': None, '_master': '', '_environment': 'local', '_num_ps_replicas': 0, '_keep_checkpoint_max': 5}
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\ansh1\AppData\Local\Temp\tmpjegdrkgc

In [36]:
classifier.fit(input_fn=lambda: input_fn(X_train,y_train),steps =10000)

WARNING:tensorflow:From E:\Anaconda3\envs\mytensorflowgpu\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\head.py:615: scalar_summary (from tensorflow.python.ops.logging_ops) is deprecated and will be removed after 2016-11-30.
Instructions for updating:
Please switch to tf.summary.scalar. Note that tf.summary.scalar uses the node name instead of the tag. This means that TensorFlow will automatically de-duplicate summary names based on the scope they are created in. Also, passing a tensor or list of tags to a scalar summary op is no longer supported.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\ansh1\AppData\Local\Temp\tmpjegdrkgc\model.ckpt.
INFO:tensorflow:loss = 0.757873, step = 1
INFO:tensorflow:global_step/sec: 506.264
INFO:tensorflow:loss = 0.44284, step = 101 (0.200 sec)
INFO:tensorflow:global_step/sec: 583.232
INFO:tensorflow:loss = 0.430866, step = 201 (0.170 sec)
INFO:tensorflow:global_step/sec: 619.478
INFO:tensorflow:loss = 0.423345, step = 301 (0.161 sec)
INFO:tensorflow:global_step/sec: 608.101
INFO:tensorflow:loss = 0.417532, step = 401 (0.164 sec)
INFO:tensorflow:global_step/sec: 604.482
INFO:tensorflow:loss = 0.412799, step = 501 (0.165 sec)
INFO:tensorflow:global_step/sec: 604.449
INFO:tensorflow:loss = 0.40793, step = 601 (0.165 sec)
INFO:tensorflow:global_step/sec: 593.654
INFO:tensorflow:loss = 0.403764, step = 701 (0.168 sec)
INFO:tensorflow:global_step/sec: 608.138
INFO:tensorflow:loss = 0.400251, step = 801 (0.164 sec)
INFO:tensorflow:global_step/sec: 590.144
INFO:tensorflow:loss = 0.396002, step = 901 (0.169 sec)
INFO:tensorflow:global_step/sec: 600.807
INFO:tensorflow:loss = 0.392189, step = 1001 (0.166 sec)
INFO:tensorflow:global_step/sec: 583.24
INFO:tensorflow:loss = 0.388509, step = 1101 (0.171 sec)
INFO:tensorflow:global_step/sec: 608.135
INFO:tensorflow:loss = 0.384715, step = 1201 (0.164 sec)
INFO:tensorflow:global_step/sec: 563.468
INFO:tensorflow:loss = 0.380887, step = 1301 (0.177 sec)
INFO:tensorflow:global_step/sec: 600.771
INFO:tensorflow:loss = 0.376903, step = 1401 (0.166 sec)
INFO:tensorflow:global_step/sec: 593.691
INFO:tensorflow:loss = 0.372993, step = 1501 (0.169 sec)
INFO:tensorflow:global_step/sec: 593.658
INFO:tensorflow:loss = 0.36875, step = 1601 (0.167 sec)
INFO:tensorflow:global_step/sec: 579.851
INFO:tensorflow:loss = 0.364357, step = 1701 (0.173 sec)
INFO:tensorflow:global_step/sec: 593.611
INFO:tensorflow:loss = 0.360556, step = 1801 (0.167 sec)
INFO:tensorflow:global_step/sec: 590.186
INFO:tensorflow:loss = 0.356408, step = 1901 (0.169 sec)
INFO:tensorflow:global_step/sec: 593.655
INFO:tensorflow:loss = 0.352021, step = 2001 (0.168 sec)
INFO:tensorflow:global_step/sec: 593.654
INFO:tensorflow:loss = 0.348216, step = 2101 (0.168 sec)
INFO:tensorflow:global_step/sec: 566.673
INFO:tensorflow:loss = 0.344331, step = 2201 (0.176 sec)
INFO:tensorflow:global_step/sec: 579.851
INFO:tensorflow:loss = 0.34106, step = 2301 (0.172 sec)
INFO:tensorflow:global_step/sec: 583.236
INFO:tensorflow:loss = 0.338111, step = 2401 (0.174 sec)
INFO:tensorflow:global_step/sec: 484.128
INFO:tensorflow:loss = 0.335126, step = 2501 (0.205 sec)
INFO:tensorflow:global_step/sec: 593.69
INFO:tensorflow:loss = 0.332394, step = 2601 (0.167 sec)
INFO:tensorflow:global_step/sec: 586.668
INFO:tensorflow:loss = 0.329679, step = 2701 (0.170 sec)
INFO:tensorflow:global_step/sec: 597.21
INFO:tensorflow:loss = 0.327163, step = 2801 (0.167 sec)
INFO:tensorflow:global_step/sec: 503.707
INFO:tensorflow:loss = 0.324681, step = 2901 (0.199 sec)
INFO:tensorflow:global_step/sec: 560.307
INFO:tensorflow:loss = 0.32228, step = 3001 (0.178 sec)
INFO:tensorflow:global_step/sec: 600.809
INFO:tensorflow:loss = 0.31955, step = 3101 (0.166 sec)
INFO:tensorflow:global_step/sec: 631.227
INFO:tensorflow:loss = 0.317072, step = 3201 (0.158 sec)
INFO:tensorflow:global_step/sec: 608.12
INFO:tensorflow:loss = 0.314306, step = 3301 (0.164 sec)
INFO:tensorflow:global_step/sec: 615.658
INFO:tensorflow:loss = 0.311644, step = 3401 (0.162 sec)
INFO:tensorflow:global_step/sec: 600.809
INFO:tensorflow:loss = 0.308591, step = 3501 (0.166 sec)
INFO:tensorflow:global_step/sec: 611.868
INFO:tensorflow:loss = 0.303187, step = 3601 (0.163 sec)
INFO:tensorflow:global_step/sec: 593.654
INFO:tensorflow:loss = 0.298393, step = 3701 (0.168 sec)
INFO:tensorflow:global_step/sec: 597.21
INFO:tensorflow:loss = 0.293588, step = 3801 (0.167 sec)
INFO:tensorflow:global_step/sec: 608.109
INFO:tensorflow:loss = 0.28955, step = 3901 (0.164 sec)
INFO:tensorflow:global_step/sec: 586.697
INFO:tensorflow:loss = 0.285428, step = 4001 (0.170 sec)
INFO:tensorflow:global_step/sec: 593.656
INFO:tensorflow:loss = 0.28253, step = 4101 (0.168 sec)
INFO:tensorflow:global_step/sec: 579.846
INFO:tensorflow:loss = 0.27847, step = 4201 (0.172 sec)
INFO:tensorflow:global_step/sec: 586.65
INFO:tensorflow:loss = 0.275742, step = 4301 (0.171 sec)
INFO:tensorflow:global_step/sec: 548.011
INFO:tensorflow:loss = 0.272594, step = 4401 (0.181 sec)
INFO:tensorflow:global_step/sec: 576.475
INFO:tensorflow:loss = 0.269639, step = 4501 (0.174 sec)
INFO:tensorflow:global_step/sec: 597.235
INFO:tensorflow:loss = 0.266435, step = 4601 (0.167 sec)
INFO:tensorflow:global_step/sec: 590.144
INFO:tensorflow:loss = 0.263698, step = 4701 (0.168 sec)
INFO:tensorflow:global_step/sec: 579.818
INFO:tensorflow:loss = 0.261239, step = 4801 (0.172 sec)
INFO:tensorflow:global_step/sec: 586.703
INFO:tensorflow:loss = 0.258529, step = 4901 (0.170 sec)
INFO:tensorflow:global_step/sec: 583.242
INFO:tensorflow:loss = 0.256852, step = 5001 (0.171 sec)
INFO:tensorflow:global_step/sec: 590.143
INFO:tensorflow:loss = 0.254653, step = 5101 (0.169 sec)
INFO:tensorflow:global_step/sec: 590.142
INFO:tensorflow:loss = 0.253294, step = 5201 (0.169 sec)
INFO:tensorflow:global_step/sec: 583.242
INFO:tensorflow:loss = 0.251037, step = 5301 (0.172 sec)
INFO:tensorflow:global_step/sec: 586.644
INFO:tensorflow:loss = 0.249261, step = 5401 (0.169 sec)
INFO:tensorflow:global_step/sec: 608.164
INFO:tensorflow:loss = 0.246654, step = 5501 (0.164 sec)
INFO:tensorflow:global_step/sec: 604.449
INFO:tensorflow:loss = 0.245741, step = 5601 (0.166 sec)
INFO:tensorflow:global_step/sec: 600.808
INFO:tensorflow:loss = 0.244379, step = 5701 (0.165 sec)
INFO:tensorflow:global_step/sec: 496.19
INFO:tensorflow:loss = 0.242061, step = 5801 (0.206 sec)
INFO:tensorflow:global_step/sec: 498.672
INFO:tensorflow:loss = 0.241033, step = 5901 (0.199 sec)
INFO:tensorflow:global_step/sec: 542.032
INFO:tensorflow:loss = 0.239184, step = 6001 (0.184 sec)
INFO:tensorflow:global_step/sec: 498.671
INFO:tensorflow:loss = 0.237898, step = 6101 (0.202 sec)
INFO:tensorflow:global_step/sec: 569.888
INFO:tensorflow:loss = 0.236709, step = 6201 (0.173 sec)
INFO:tensorflow:global_step/sec: 619.493
INFO:tensorflow:loss = 0.235137, step = 6301 (0.160 sec)
INFO:tensorflow:global_step/sec: 573.184
INFO:tensorflow:loss = 0.233897, step = 6401 (0.174 sec)
INFO:tensorflow:global_step/sec: 542.033
INFO:tensorflow:loss = 0.23291, step = 6501 (0.185 sec)
INFO:tensorflow:global_step/sec: 527.692
INFO:tensorflow:loss = 0.231694, step = 6601 (0.189 sec)
INFO:tensorflow:global_step/sec: 560.303
INFO:tensorflow:loss = 0.229843, step = 6701 (0.179 sec)
INFO:tensorflow:global_step/sec: 522.172
INFO:tensorflow:loss = 0.22843, step = 6801 (0.192 sec)
INFO:tensorflow:global_step/sec: 569.907
INFO:tensorflow:loss = 0.227252, step = 6901 (0.174 sec)
INFO:tensorflow:global_step/sec: 539.106
INFO:tensorflow:loss = 0.225456, step = 7001 (0.187 sec)
INFO:tensorflow:global_step/sec: 506.265
INFO:tensorflow:loss = 0.224247, step = 7101 (0.198 sec)
INFO:tensorflow:global_step/sec: 583.219
INFO:tensorflow:loss = 0.222869, step = 7201 (0.169 sec)
INFO:tensorflow:global_step/sec: 576.52
INFO:tensorflow:loss = 0.22165, step = 7301 (0.174 sec)
INFO:tensorflow:global_step/sec: 491.3
INFO:tensorflow:loss = 0.220268, step = 7401 (0.207 sec)
INFO:tensorflow:global_step/sec: 557.175
INFO:tensorflow:loss = 0.219289, step = 7501 (0.176 sec)
INFO:tensorflow:global_step/sec: 604.451
INFO:tensorflow:loss = 0.217643, step = 7601 (0.165 sec)
INFO:tensorflow:global_step/sec: 619.464

INFO:tensorflow:loss = 0.216953, step = 7701 (0.161 sec)
INFO:tensorflow:global_step/sec: 579.852
INFO:tensorflow:loss = 0.215662, step = 7801 (0.171 sec)
INFO:tensorflow:global_step/sec: 527.688
INFO:tensorflow:loss = 0.214258, step = 7901 (0.191 sec)
INFO:tensorflow:global_step/sec: 536.211
INFO:tensorflow:loss = 0.212972, step = 8001 (0.186 sec)
INFO:tensorflow:global_step/sec: 536.204
INFO:tensorflow:loss = 0.211355, step = 8101 (0.187 sec)
INFO:tensorflow:global_step/sec: 586.673
INFO:tensorflow:loss = 0.210599, step = 8201 (0.170 sec)
INFO:tensorflow:global_step/sec: 627.209
INFO:tensorflow:loss = 0.209202, step = 8301 (0.158 sec)
INFO:tensorflow:global_step/sec: 619.514
INFO:tensorflow:loss = 0.208156, step = 8401 (0.161 sec)
INFO:tensorflow:global_step/sec: 619.46
INFO:tensorflow:loss = 0.207707, step = 8501 (0.161 sec)
INFO:tensorflow:global_step/sec: 631.237
INFO:tensorflow:loss = 0.206674, step = 8601 (0.159 sec)
INFO:tensorflow:global_step/sec: 563.467
INFO:tensorflow:loss = 0.205789, step = 8701 (0.177 sec)
INFO:tensorflow:global_step/sec: 544.997
INFO:tensorflow:loss = 0.204916, step = 8801 (0.183 sec)
INFO:tensorflow:global_step/sec: 615.643
INFO:tensorflow:loss = 0.203448, step = 8901 (0.162 sec)
INFO:tensorflow:global_step/sec: 608.132
INFO:tensorflow:loss = 0.202874, step = 9001 (0.163 sec)
INFO:tensorflow:global_step/sec: 516.756
INFO:tensorflow:loss = 0.201653, step = 9101 (0.195 sec)
INFO:tensorflow:global_step/sec: 545
INFO:tensorflow:loss = 0.200608, step = 9201 (0.182 sec)
INFO:tensorflow:global_step/sec: 639.32
INFO:tensorflow:loss = 0.200642, step = 9301 (0.157 sec)
INFO:tensorflow:global_step/sec: 590.144
INFO:tensorflow:loss = 0.199074, step = 9401 (0.169 sec)
INFO:tensorflow:global_step/sec: 516.756
INFO:tensorflow:loss = 0.198093, step = 9501 (0.193 sec)
INFO:tensorflow:global_step/sec: 579.85
INFO:tensorflow:loss = 0.197971, step = 9601 (0.172 sec)
INFO:tensorflow:global_step/sec: 615.642
INFO:tensorflow:loss = 0.197123, step = 9701 (0.163 sec)
INFO:tensorflow:global_step/sec: 604.454
INFO:tensorflow:loss = 0.195443, step = 9801 (0.164 sec)
INFO:tensorflow:global_step/sec: 619.465
INFO:tensorflow:loss = 0.194852, step = 9901 (0.161 sec)
INFO:tensorflow:Saving checkpoints for 10000 into C:\Users\ansh1\AppData\Local\Temp\tmpjegdrkgc\model.ckpt.
INFO:tensorflow:Loss for final step: 0.193599.

DNNClassifier(params={'embedding_lr_multipliers': None, 'dropout': None, 'feature_columns': (_RealValuedColumn(column_name='ApplicantIncome', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='CoapplicantIncome', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='LoanAmount', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='Credit_History', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='Property_Area', dimension=1, default_value=None, dtype=tf.float32, normalizer=None)), 'head': <tensorflow.contrib.learn.python.learn.estimators.head._BinaryLogisticHead object at 0x000001436B55EFD0>, 'input_layer_min_slice_size': None, 'gradient_clip_norm': None, 'hidden_units': [20, 20], 'optimizer': None, 'activation_fn': <function relu at 0x0000014368A62A60>})

In [37]:
ev = classifier.evaluate(input_fn=lambda: input_fn(X_test,y_test),steps=1)

WARNING:tensorflow:From E:\Anaconda3\envs\mytensorflowgpu\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\head.py:615: scalar_summary (from tensorflow.python.ops.logging_ops) is deprecated and will be removed after 2016-11-30.
Instructions for updating:
Please switch to tf.summary.scalar. Note that tf.summary.scalar uses the node name instead of the tag. This means that TensorFlow will automatically de-duplicate summary names based on the scope they are created in. Also, passing a tensor or list of tags to a scalar summary op is no longer supported.
INFO:tensorflow:Starting evaluation at 2017-08-27-06:56:50
INFO:tensorflow:Restoring parameters from C:\Users\ansh1\AppData\Local\Temp\tmpjegdrkgc\model.ckpt-10000
INFO:tensorflow:Evaluation [1/1]
INFO:tensorflow:Finished evaluation at 2017-08-27-06:56:50
INFO:tensorflow:Saving dict for global step 10000: accuracy = 0.724138, accuracy/baseline_label_mean = 0.650246, accuracy/threshold_0.500000_mean = 0.724138, auc = 0.710201, global_step = 10000, labels/actual_label_mean = 0.650246, labels/prediction_mean = 0.688489, loss = 1.34052, precision/positive_threshold_0.500000_mean = 0.75, recall/positive_threshold_0.500000_mean = 0.863636
WARNING:tensorflow:Skipping summary for global_step, must be a float or np.float32.

In [38]:
ev

{'accuracy': 0.7241379,
 'accuracy/baseline_label_mean': 0.65024632,
 'accuracy/threshold_0.500000_mean': 0.7241379,
 'auc': 0.71020055,
 'global_step': 10000,
 'labels/actual_label_mean': 0.65024632,
 'labels/prediction_mean': 0.68848914,
 'loss': 1.3405218,
 'precision/positive_threshold_0.500000_mean': 0.75,
 'recall/positive_threshold_0.500000_mean': 0.86363637}

In [79]:
test=pd.read_csv('E:/myAnacondaProj/test.csv')

In [80]:
test['Gender'] = test['Gender'].fillna( test['Gender'].dropna().mode().values[0] )
test['Married'] = test['Married'].fillna( test['Married'].dropna().mode().values[0] )
test['Dependents'] = test['Dependents'].fillna( test['Dependents'].dropna().mode().values[0] )
test['Self_Employed'] = test['Self_Employed'].fillna( test['Self_Employed'].dropna().mode().values[0] )
test['LoanAmount'] = test['LoanAmount'].fillna( test['LoanAmount'].dropna().mean() )
test['Loan_Amount_Term'] = test['Loan_Amount_Term'].fillna( test['Loan_Amount_Term'].dropna().mode().values[0] )
test['Credit_History'] = test['Credit_History'].fillna( test['Credit_History'].dropna().mode().values[0] )

test['Gender'] = test['Gender'].map({'Female': 0, 'Male': 1})
test['Married'] = test['Married'].map({'Yes': 1, 'No': 0})
test['Dependents'] = test['Dependents'].str.replace('+', '')
test['Dependents'] = test['Dependents'].map({'0': 0, '1': 1, '2' : 2, '3' : 3})
test['Education'] = test['Education'].map({'Graduate': 1, 'Not Graduate': 0})
test['Self_Employed'] = test['Self_Employed'].map({'No': 0, 'Yes': 1})
test['Property_Area'] = test['Property_Area'].map({'Rural': 0, 'Semiurban': 1, 'Urban' : 2})

In [81]:
testtemp = pd.DataFrame()
testtemp = test.copy()
del testtemp['Loan_ID']

In [82]:
testdata = pd.DataFrame()
testdata = testtemp.drop(['Gender', 'Education'],axis=1)
testdata.describe()

,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
count,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000
mean,0.634877,0.806540,0.100817,4805.599455,1569.577657,136.132597,342.822888,0.839237,1.079019
std,0.482122,1.065177,0.301498,4910.685399,2334.232099,60.946040,64.658402,0.367814,0.824337
min,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,6.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,2864.000000,0.000000,101.000000,360.000000,1.000000,0.000000
50%,1.000000,0.000000,0.000000,3786.000000,1025.000000,126.000000,360.000000,1.000000,1.000000
75%,1.000000,2.000000,0.000000,5060.000000,2430.500000,157.500000,360.000000,1.000000,2.000000
max,1.000000,3.000000,1.000000,72529.000000,24000.000000,550.000000,480.000000,1.000000,2.000000

In [83]:
from sklearn.preprocessing import MinMaxScaler
slc= MinMaxScaler()

testdata.iloc[:,0:9]= slc.fit_transform(testdata.iloc[:,0:9])
testdata.head()

,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1.0,0.000000,0.0,0.078865,0.000000,0.157088,0.746835,1.0,1.0
1,1.0,0.333333,0.0,0.042411,0.062500,0.187739,0.746835,1.0,1.0
2,1.0,0.666667,0.0,0.068938,0.075000,0.344828,0.746835,1.0,1.0
3,1.0,0.666667,0.0,0.032263,0.106083,0.137931,0.746835,1.0,1.0
4,0.0,0.000000,0.0,0.045168,0.000000,0.095785,0.746835,1.0,1.0

In [84]:
def input_predict(df):
    feature_cols = {k:tf.constant(df[k].values,shape = [df[k].size,1]) for k in columns}
    return feature_cols

In [85]:
pred = classifier.predict(input_fn=lambda: input_predict(testdata))

WARNING:tensorflow:From E:\Anaconda3\envs\mytensorflowgpu\lib\site-packages\tensorflow\python\util\deprecation.py:335: calling DNNClassifier.predict (from tensorflow.contrib.learn.python.learn.estimators.dnn) with outputs=None is deprecated and will be removed after 2017-03-01.
Instructions for updating:
Please switch to predict_classes, or set `outputs` argument.
INFO:tensorflow:Restoring parameters from C:\Users\ansh1\AppData\Local\Temp\tmprisf_nuw\model.ckpt-50000

In [86]:
print(list(pred))

[1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0]

In [188]:
x=
print(x)

[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0]

In [189]:
submit = pd.DataFrame()
submit['Loan_ID'] = test['Loan_ID']
submit['Loan_Status'] = x
submit['Loan_Status'] = submit['Loan_Status'].map({0:'N', 1:'Y'})
submit.to_csv('my_submission4.csv', index=False)